[Unit]
Description=Proxy Server for Minecraft Bedrock
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=nobody
ExecStart=/usr/local/bin/bedrock-proxy exampleserver.com 19132
Nice=-2

[Install]
WantedBy=multi-user.target
